flows.json
[
    {
        "id": "953071498ef689be",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c47edea89723bf87",
        "type": "tab",
        "label": "Providers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b06bfa5017fc0d79",
        "type": "tab",
        "label": "Conveying",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "afe97e04980fad99",
        "type": "tab",
        "label": "Filling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7821fc403eb5a650",
        "type": "tab",
        "label": "Potting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f26c61a9d77fd309",
        "type": "tab",
        "label": "Packing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b201f53c212253f",
        "type": "tab",
        "label": "Factory",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "216106bbbcac44a8",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:storageRack\",\"title\":\"storageRack\",\"description\":\"VL10 storage rack with a Cartesian robot and a conveyor belt. It can be used as a conveying workshop: The Cartesian robot can be used to move on the XZ-plane, pick up items from the storage rack and place them on the one end of the conveyor belt.\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"properties\":{\"stackLightStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the workshop (e.g. the status is 'yellow' when the workshop is resetting.)\",\"enum\":[\"green\",\"yellow\",\"red\"],\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/properties/stackLightStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"capacity\":{\"readOnly\":true,\"description\":\"Reads the capacity of the 2D storage rack E.g. a [5,5] capacity indicates that the rack has 5 rows (X axis) and 5 columns (Z axis), and it can store at most 25 items.\",\"type\":\"array\",\"maxItems\":2,\"minItems\":2,\"items\":{\"type\":\"number\"},\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/properties/capacity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"positionX\":{\"readOnly\":true,\"description\":\"Reads the position of the Cartesian motor on the X axis (in meters).\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/properties/positionX\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"positionZ\":{\"readOnly\":true,\"description\":\"Reads the position of the Cartesian motor on the Z axis (in meters).\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/properties/positionZ\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"clampStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the clamp of the Cartesian robot. The status is true if the clamp is closed, and false if the clamp is open.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/properties/clampStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"conveyorSpeed\":{\"description\":\"Reads and writes the speed (X axis) of the conveyor belt (and the Cartesian robot that moves along the belt) (in meters/sec). The maximum speed is 1 meter/sec.\",\"type\":\"number\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/properties/conveyorSpeed\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]}},\"actions\":{\"pressEmergencyStop\":{\"description\":\"Turns off all active components of the machine: It sets the conveyor speed to 0, and a human operator is called to remove any items that have been placed on the conveyor belt.\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/actions/pressEmergencyStop\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"pickItem\":{\"description\":\"Picks an item from the storage rack and places it on the conveyor belt. E.g. to pick up the first item in the storage rack, the action must be invoked with input [0,0]. To monitor the state of the action, one can read the clamp status and the XZ-positions of the Cartesian robot. E.g. once the clamp is open again, the action has been completed.\",\"input\":{\"type\":\"array\",\"description\":\"Position of the item on the XZ-plane.\",\"maxItems\":2,\"minItems\":2,\"items\":{\"type\":\"number\"}},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/actions/pickItem\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/storageRack/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "a0654156d033d221",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:fillingWorkshop\",\"title\":\"fillingWorkshop\",\"description\":\"DX10 filling workshop with a Cartesian robot, a filler (with a magnetic valve) attached to the Cartesian robot and a conveyor belt. The machine is configured such that: 1) once the optical sensor at the start of the belt detects an item, the magnetic valve of the filler opens and the Cartesian robot starts to move along the X axis (at the speed of the belt) above the item. 2) Once a preconfigured amount of product has been poured by the filler, the valve closes and the robot returns to its initial X coordinate at maximum speed while the item keeps moving towards the end of the conveyor.\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"properties\":{\"stackLightStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the workshop (e.g. the status is 'yellow' when the workshop is resetting.)\",\"enum\":[\"green\",\"yellow\",\"red\"],\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/stackLightStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"conveyorSpeed\":{\"description\":\"Reads and writes the speed (X axis) of the conveyor belt (and the Cartesian robot that moves along the belt) (in meters/sec). The maximum speed is 1 meter/sec.\",\"type\":\"number\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/conveyorSpeed\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"conveyorHeadStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the optical sensor that detects whether an item is positioned at the end of the conveyor belt.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/conveyorHeadStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"magneticValveStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the magnetic valve which controls the product flow of the tank. When the status is true, product (e.g. yogurt) is flowing from the tank to an item (e.g. a container).\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/magneticValveStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"opticalSensorStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the optical sensor that detects whether an item is positioned at the start of the conveyor belt under the filler.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/opticalSensorStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"tankLevel\":{\"readOnly\":true,\"description\":\"Reads the quantity of product in the tank (in liters).\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/tankLevel\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"positionX\":{\"readOnly\":true,\"description\":\"Reads the position of the Cartesian motor on the X axis (in meters).\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/properties/positionX\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"actions\":{\"pressEmergencyStop\":{\"description\":\"Turns off all active components of the machine: It sets the conveyor speed to 0, it closes the filler`s magnetic valve, it returns the Cartesian robot (and the attached filler) to its home position at the start of the belt, and a human operator is called to remove any items that have been placed on the conveyor belt.\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/actions/pressEmergencyStop\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/fillingWorkshop/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "a27e4c2d0dca2bf4",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:cupProvider\",\"title\":\"cupProvider\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"actions\":{\"order\":{\"description\":\"order a certain quantity of cups\",\"input\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/cupProvider/actions/order\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"orderPackages\":{\"description\":\"order a certain quantity of empty packages\",\"input\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/cupProvider/actions/orderPackages\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"delivered\":{\"description\":\"indicates how many cups have been delivered\",\"data\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/cupProvider/events/delivered\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]},\"deliveredPackages\":{\"description\":\"indicates how many packages have been delivered\",\"data\":{\"type\":\"integer\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/cupProvider/events/deliveredPackages\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/cupProvider/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "8ee87d6d8b1b13f9",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:robotArm\",\"title\":\"robotArm\",\"description\":\"6-axis robot arm with an attached gripper.\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"properties\":{\"stackLightStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the workshop (e.g. the status is 'yellow' when the workshop is resetting.)\",\"enum\":[\"green\",\"yellow\",\"red\"],\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/properties/stackLightStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"inMovement\":{\"readOnly\":true,\"description\":\"Reads the movement status of the robot. The status is true if the robot is in movement.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/properties/inMovement\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"grasping\":{\"readOnly\":true,\"description\":\"Reads the grasping status of the robot. The status is true if gripper is closed. The status is false if the gripper is open.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/properties/grasping\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"actions\":{\"pressEmergencyStop\":{\"description\":\"Turns off all active components of the machine: It opens the gripper, and it cancels on-going movement tasks.\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/actions/pressEmergencyStop\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"moveTo\":{\"description\":\"Moves the robot arm`s hand on the XYZ coordinate system.\",\"input\":{\"type\":\"object\",\"properties\":{\"x\":{\"type\":\"number\"},\"y\":{\"type\":\"number\"},\"z\":{\"type\":\"number\"}},\"required\":[\"x\",\"y\",\"z\"]},\"output\":{\"type\":\"boolean\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/actions/moveTo\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"grasp\":{\"description\":\"Closes the gripper to grasp the item that is right under the robot arm's hand. The grasping is performed only if the gripper is currently open and an item is positioned under robot arm's hand.\",\"output\":{\"type\":\"boolean\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/actions/grasp\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"release\":{\"description\":\"Opens the gripper to release an item.\",\"output\":{\"type\":\"boolean\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/actions/release\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/robotArm/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "e255ccde89e0b414",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:dairyProductProvider\",\"title\":\"dairyProductProvider\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"actions\":{\"order\":{\"description\":\"order a certain volume of dairy product\",\"input\":{\"type\":\"number\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/dairyProductProvider/actions/order\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"delivered\":{\"description\":\"indicates what volume has been delivered\",\"data\":{\"type\":\"number\"},\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/dairyProductProvider/events/delivered\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\"]}]}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/dairyProductProvider/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "18ec41e9d885dce1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#3d3846",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#3d3846",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3d3846",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#625a70",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3d3846",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ad63f818c4a40908",
        "type": "ui_tab",
        "name": "ia4industry - summer school",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d596cdc71009532d",
        "type": "ui_group",
        "name": "1: Conveying",
        "tab": "ad63f818c4a40908",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e1b22714ad698f5",
        "type": "ui_group",
        "name": "2: FIlling",
        "tab": "ad63f818c4a40908",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abf3fbbe332cd276",
        "type": "ui_group",
        "name": "0: Cup/Package/Yogurt Providers",
        "tab": "ad63f818c4a40908",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1eb94c06701f7eb8",
        "type": "ui_group",
        "name": "3: Potting",
        "tab": "ad63f818c4a40908",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "49b00d66d72984ff",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:packagingWorkshop\",\"title\":\"packagingWorkshop\",\"description\":\"XY10 packaging workshop\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"properties\":{\"stackLightStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the workshop (e.g. the status is 'yellow' when the workshop is resetting.)\",\"enum\":[\"green\",\"yellow\",\"red\"],\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/stackLightStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"conveyorSpeed\":{\"description\":\"Reads and writes the speed (X axis) of the conveyor belt (in meters/sec). The maximum speed is 1 meter/sec.\",\"type\":\"number\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/conveyorSpeed\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"packageBuffer\":{\"readOnly\":true,\"description\":\"Reads the number of available packages in storage.\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/packageBuffer\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"opticalSensorPackage\":{\"readOnly\":true,\"description\":\"Reads the status of the optical sensor that detects whether a package is on the coveyor.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/opticalSensorPackage\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"opticalSensorContainer1\":{\"readOnly\":true,\"description\":\"Reads the status of the optical sensor that detects whether a container is first position.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/opticalSensorContainer1\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"opticalSensorContainer2\":{\"readOnly\":true,\"description\":\"Reads the status of the optical sensor that detects whether a container is first position.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/opticalSensorContainer2\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"conveyorHeadStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the optical sensor that detects whether an item is positioned at the end of the conveyor belt.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/properties/conveyorHeadStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]}},\"actions\":{\"pressEmergencyStop\":{\"description\":\"Turns off all active components of the machine: It sets the conveyor speed to 0, and a human operator is called to remove any items that have been placed on the conveyor belt.\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/actions/pressEmergencyStop\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/packagingWorkshop/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "79506e97d9eae7c9",
        "type": "ui_group",
        "name": "4: Packing",
        "tab": "ad63f818c4a40908",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43252d8c58fcb698",
        "type": "consumed-thing",
        "tdLink": "",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:factory\",\"title\":\"factory\",\"description\":\"Whole ITm factory, exposing bookkeeping properties\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"properties\":{\"deliveryBook\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":\"string\",\"date\":\"string\",\"quantity\":\"number\"},\"required\":[\"type\",\"date\",\"quantity\"]},\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/factory/properties/deliveryBook\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]},\"shippingBook\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"date\":\"string\"},\"required\":[\"date\"]},\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/factory/properties/shippingBook\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]}},\"actions\":{\"reset\":{\"description\":\"Resets the simulation environment. It presses the emergency stop buttons of all workshops and orders new consumables from the providers.\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/factory/actions/reset\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"https://ci.mines-stetienne.fr/simu/factory/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": true,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "f19565ed4af96062",
        "type": "ui_tab",
        "name": "debug",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89e7e371f183bcd0",
        "type": "ui_group",
        "name": "Conveying Debug",
        "tab": "f19565ed4af96062",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc5f1ee717f0219f",
        "type": "ui_group",
        "name": "Filling",
        "tab": "f19565ed4af96062",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47eb14e2e4f1e7f3",
        "type": "ui_group",
        "name": "Factory",
        "tab": "f19565ed4af96062",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78829955cc95f81c",
        "type": "debug",
        "z": "c47edea89723bf87",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "988ee12c92d07f5a",
        "type": "function",
        "z": "c47edea89723bf87",
        "name": "Packages delivered",
        "func": "msg.payload = \"Delivered \" + msg.payload + \" packages\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "0681355aa1ec078c"
            ]
        ]
    },
    {
        "id": "1a4da8287ab275d6",
        "type": "function",
        "z": "c47edea89723bf87",
        "name": "Yogurt delivered",
        "func": "msg.payload = \"Delivered \" + msg.payload + \" yogurt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "0681355aa1ec078c"
            ]
        ]
    },
    {
        "id": "84de0894ac337f69",
        "type": "function",
        "z": "c47edea89723bf87",
        "name": "Cups delivered",
        "func": "msg.payload = \"Delivered \" + msg.payload + \" cups\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "0681355aa1ec078c"
            ]
        ]
    },
    {
        "id": "5d688723803a0837",
        "type": "invoke-action",
        "z": "c47edea89723bf87",
        "name": "",
        "topic": "",
        "thing": "a27e4c2d0dca2bf4",
        "action": "order",
        "uriVariables": "",
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cc78939742eaea65",
        "type": "invoke-action",
        "z": "c47edea89723bf87",
        "name": "",
        "topic": "",
        "thing": "a27e4c2d0dca2bf4",
        "action": "orderPackages",
        "uriVariables": "",
        "x": 640,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fc0ea7df19af2d35",
        "type": "invoke-action",
        "z": "c47edea89723bf87",
        "name": "",
        "topic": "",
        "thing": "e255ccde89e0b414",
        "action": "order",
        "uriVariables": "",
        "x": 630,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "cd932c998dfd1f8a",
        "type": "subscribe-event",
        "z": "c47edea89723bf87",
        "name": "",
        "topic": "",
        "thing": "a27e4c2d0dca2bf4",
        "event": "delivered",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "84de0894ac337f69"
            ]
        ]
    },
    {
        "id": "58609336719c111d",
        "type": "subscribe-event",
        "z": "c47edea89723bf87",
        "name": "",
        "topic": "",
        "thing": "a27e4c2d0dca2bf4",
        "event": "deliveredPackages",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "988ee12c92d07f5a"
            ]
        ]
    },
    {
        "id": "25b7b18acbb9a88f",
        "type": "subscribe-event",
        "z": "c47edea89723bf87",
        "name": "",
        "topic": "",
        "thing": "e255ccde89e0b414",
        "event": "delivered",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "1a4da8287ab275d6"
            ]
        ]
    },
    {
        "id": "3b08bf1f609ddf73",
        "type": "ui_button",
        "z": "c47edea89723bf87",
        "name": "",
        "group": "abf3fbbe332cd276",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Order 25 Cups",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "25",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "5d688723803a0837",
                "78829955cc95f81c"
            ]
        ]
    },
    {
        "id": "3de81432bff20793",
        "type": "ui_button",
        "z": "c47edea89723bf87",
        "name": "",
        "group": "abf3fbbe332cd276",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Order 10 Packages",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "cc78939742eaea65",
                "78829955cc95f81c"
            ]
        ]
    },
    {
        "id": "45ee29cd1ef43d9d",
        "type": "ui_button",
        "z": "c47edea89723bf87",
        "name": "",
        "group": "abf3fbbe332cd276",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Order 1000 Yogurt",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "1000",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 720,
        "wires": [
            [
                "fc0ea7df19af2d35",
                "78829955cc95f81c"
            ]
        ]
    },
    {
        "id": "0681355aa1ec078c",
        "type": "ui_toast",
        "z": "c47edea89723bf87",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "47b769c5.cb0e28",
        "type": "join",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 600,
        "wires": [
            [
                "c293d470f0ef5e06"
            ]
        ]
    },
    {
        "id": "8608c8276ddee81c",
        "type": "read-property",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "",
        "thing": "216106bbbcac44a8",
        "property": "stackLightStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "8a7a968a69d7c290"
            ]
        ]
    },
    {
        "id": "4d1621f0e3ea7dd2",
        "type": "read-property",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "",
        "thing": "216106bbbcac44a8",
        "property": "capacity",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "3ea7f5542cf20092"
            ]
        ]
    },
    {
        "id": "74af5c2bb9409fe7",
        "type": "read-property",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "",
        "thing": "216106bbbcac44a8",
        "property": "clampStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "3430c40ca6e1c223",
                "51772998d434e0e0"
            ]
        ]
    },
    {
        "id": "a5c5bf69172c0ca2",
        "type": "read-property",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "",
        "thing": "216106bbbcac44a8",
        "property": "conveyorSpeed",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "2ae3a11b8d6af79f"
            ]
        ]
    },
    {
        "id": "206113b5173a04dc",
        "type": "read-property",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "X",
        "thing": "216106bbbcac44a8",
        "property": "positionX",
        "uriVariables": "",
        "interval": "2",
        "observe": false,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "35cf0ab17dec0dca",
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "3865f71616fece3a",
        "type": "read-property",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "Z",
        "thing": "216106bbbcac44a8",
        "property": "positionZ",
        "uriVariables": "",
        "interval": "2",
        "observe": false,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "fc91c01f34e1f1fc",
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "c37e2537c1a5f360",
        "type": "invoke-action",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "topic": "",
        "thing": "216106bbbcac44a8",
        "action": "pressEmergencyStop",
        "uriVariables": "",
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "63443d89de259757",
        "type": "ui_button",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "group": "d596cdc71009532d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Press Emergency Stop",
        "tooltip": "",
        "color": "write",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "c37e2537c1a5f360"
            ]
        ]
    },
    {
        "id": "3ea7f5542cf20092",
        "type": "ui_text",
        "z": "b06bfa5017fc0d79",
        "group": "89e7e371f183bcd0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Capacity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "3430c40ca6e1c223",
        "type": "ui_text",
        "z": "b06bfa5017fc0d79",
        "group": "d596cdc71009532d",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Clamp Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "c293d470f0ef5e06",
        "type": "ui_text",
        "z": "b06bfa5017fc0d79",
        "group": "d596cdc71009532d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position [X,Z]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a7a968a69d7c290",
        "type": "ui_colour_picker",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "label": "Status",
        "group": "d596cdc71009532d",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "35cf0ab17dec0dca",
        "type": "ui_chart",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "group": "89e7e371f183bcd0",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Position X (Debug)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "fc91c01f34e1f1fc",
        "type": "ui_chart",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "group": "89e7e371f183bcd0",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Position Z (Debug)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2ae3a11b8d6af79f",
        "type": "ui_gauge",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "group": "d596cdc71009532d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Conveyor Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "51772998d434e0e0",
        "type": "ui_switch",
        "z": "b06bfa5017fc0d79",
        "name": "",
        "label": "Clamp Status",
        "tooltip": "",
        "group": "d596cdc71009532d",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f631d24050a9ed50",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "stackLightStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "c7064819da4c9b96"
            ]
        ]
    },
    {
        "id": "8506a717bdb33ec7",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "conveyorSpeed",
        "uriVariables": "",
        "interval": 5,
        "observe": false,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "97b479b605e7f43d"
            ]
        ]
    },
    {
        "id": "03c57fd392cee3f6",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "conveyorHeadStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "c2713bf6ca3cc019",
                "bd4c703f664b25aa"
            ]
        ]
    },
    {
        "id": "cc8ad6e8aa4a32a6",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "magneticValveStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "de1b3cf461232ebe",
                "821e5b3dc1e72843"
            ]
        ]
    },
    {
        "id": "d3275b01ee35397e",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "opticalSensorStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "090c4be545ea2ac1",
                "054bdb1b8a0c08a7"
            ]
        ]
    },
    {
        "id": "32aa61ecf5f8ae4d",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "tankLevel",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "250c61c43d9f0be1",
                "a887e7917ed1c344"
            ]
        ]
    },
    {
        "id": "22afce235d3e8606",
        "type": "read-property",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "property": "positionX",
        "uriVariables": "",
        "interval": 5,
        "observe": false,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "178531772118569c"
            ]
        ]
    },
    {
        "id": "0d8cb33f26db511d",
        "type": "invoke-action",
        "z": "afe97e04980fad99",
        "name": "",
        "topic": "",
        "thing": "a0654156d033d221",
        "action": "pressEmergencyStop",
        "uriVariables": "",
        "x": 600,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "93e6a5f6a0426f4f",
        "type": "ui_button",
        "z": "afe97e04980fad99",
        "name": "",
        "group": "4e1b22714ad698f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Press Emergency Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "0d8cb33f26db511d"
            ]
        ]
    },
    {
        "id": "c2713bf6ca3cc019",
        "type": "ui_text",
        "z": "afe97e04980fad99",
        "group": "4e1b22714ad698f5",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Conveyour Head Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "de1b3cf461232ebe",
        "type": "ui_text",
        "z": "afe97e04980fad99",
        "group": "4e1b22714ad698f5",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Magnetic Valve Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "090c4be545ea2ac1",
        "type": "ui_text",
        "z": "afe97e04980fad99",
        "group": "4e1b22714ad698f5",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Optical Sensor Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7064819da4c9b96",
        "type": "ui_colour_picker",
        "z": "afe97e04980fad99",
        "name": "",
        "label": "Status",
        "group": "4e1b22714ad698f5",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "250c61c43d9f0be1",
        "type": "ui_chart",
        "z": "afe97e04980fad99",
        "name": "",
        "group": "dc5f1ee717f0219f",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Tank Level (Debug)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "178531772118569c",
        "type": "ui_chart",
        "z": "afe97e04980fad99",
        "name": "",
        "group": "dc5f1ee717f0219f",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Position X (Debug)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "97b479b605e7f43d",
        "type": "ui_gauge",
        "z": "afe97e04980fad99",
        "name": "",
        "group": "4e1b22714ad698f5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Conveyor Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "a887e7917ed1c344",
        "type": "ui_gauge",
        "z": "afe97e04980fad99",
        "name": "",
        "group": "4e1b22714ad698f5",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Tank Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "821e5b3dc1e72843",
        "type": "ui_switch",
        "z": "afe97e04980fad99",
        "name": "",
        "label": "Magnetic Valve Status",
        "tooltip": "",
        "group": "4e1b22714ad698f5",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bd4c703f664b25aa",
        "type": "ui_switch",
        "z": "afe97e04980fad99",
        "name": "",
        "label": "Conveyour Head Status",
        "tooltip": "",
        "group": "4e1b22714ad698f5",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "054bdb1b8a0c08a7",
        "type": "ui_switch",
        "z": "afe97e04980fad99",
        "name": "",
        "label": "Optical Sensor Status",
        "tooltip": "",
        "group": "4e1b22714ad698f5",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "382a45be713ee30f",
        "type": "read-property",
        "z": "7821fc403eb5a650",
        "name": "",
        "topic": "",
        "thing": "8ee87d6d8b1b13f9",
        "property": "stackLightStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "66fc730d7b2ff7c1"
            ]
        ]
    },
    {
        "id": "efb8213f27aac093",
        "type": "read-property",
        "z": "7821fc403eb5a650",
        "name": "",
        "topic": "",
        "thing": "8ee87d6d8b1b13f9",
        "property": "inMovement",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "2155f8a1561b62f3",
                "beca599119b6bd7b"
            ]
        ]
    },
    {
        "id": "e2850bab217c69cc",
        "type": "read-property",
        "z": "7821fc403eb5a650",
        "name": "",
        "topic": "",
        "thing": "8ee87d6d8b1b13f9",
        "property": "grasping",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "cf64bf0577b49783",
                "e0f8a0b336deb30b"
            ]
        ]
    },
    {
        "id": "de1a2283271a7517",
        "type": "invoke-action",
        "z": "7821fc403eb5a650",
        "name": "",
        "topic": "",
        "thing": "8ee87d6d8b1b13f9",
        "action": "pressEmergencyStop",
        "uriVariables": "",
        "x": 640,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "47b3db564e8acd97",
        "type": "ui_button",
        "z": "7821fc403eb5a650",
        "name": "",
        "group": "1eb94c06701f7eb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Press Emergency Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "de1a2283271a7517"
            ]
        ]
    },
    {
        "id": "2155f8a1561b62f3",
        "type": "ui_text",
        "z": "7821fc403eb5a650",
        "group": "1eb94c06701f7eb8",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Arm in Movement",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf64bf0577b49783",
        "type": "ui_text",
        "z": "7821fc403eb5a650",
        "group": "1eb94c06701f7eb8",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Arm Grasping",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "66fc730d7b2ff7c1",
        "type": "ui_colour_picker",
        "z": "7821fc403eb5a650",
        "name": "",
        "label": "Status",
        "group": "1eb94c06701f7eb8",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 610,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "beca599119b6bd7b",
        "type": "ui_switch",
        "z": "7821fc403eb5a650",
        "name": "",
        "label": "Arm in Movement",
        "tooltip": "",
        "group": "1eb94c06701f7eb8",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e0f8a0b336deb30b",
        "type": "ui_switch",
        "z": "7821fc403eb5a650",
        "name": "",
        "label": "Arm Grasping",
        "tooltip": "",
        "group": "1eb94c06701f7eb8",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "98cd2d032eefd66c",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "stackLightStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "18cc350dc504d468"
            ]
        ]
    },
    {
        "id": "e791f373b0e29233",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "conveyorSpeed",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "c5a2f477ecff74fb"
            ]
        ]
    },
    {
        "id": "4712afb7fbf196e1",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "packageBuffer",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "1ae725a7f81d0eef"
            ]
        ]
    },
    {
        "id": "4614674e41a11401",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "opticalSensorPackage",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "d0ac4b41eb4788ab"
            ]
        ]
    },
    {
        "id": "0f7bbd94dfb93f0a",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "opticalSensorContainer1",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "3541cf69ea5fb75a"
            ]
        ]
    },
    {
        "id": "d983306e5ad7b76f",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "opticalSensorContainer2",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "5404122c7585d584"
            ]
        ]
    },
    {
        "id": "43fc76bd7a5984b7",
        "type": "read-property",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "property": "conveyorHeadStatus",
        "uriVariables": "",
        "interval": "10",
        "observe": false,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "5332a80fbf37635e"
            ]
        ]
    },
    {
        "id": "d2f417faf3da3612",
        "type": "invoke-action",
        "z": "f26c61a9d77fd309",
        "name": "",
        "topic": "",
        "thing": "49b00d66d72984ff",
        "action": "pressEmergencyStop",
        "uriVariables": "",
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3e7f274a613ec89a",
        "type": "ui_button",
        "z": "f26c61a9d77fd309",
        "name": "",
        "group": "79506e97d9eae7c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Press Emergency Stop",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "d2f417faf3da3612"
            ]
        ]
    },
    {
        "id": "d0ac4b41eb4788ab",
        "type": "ui_text",
        "z": "f26c61a9d77fd309",
        "group": "79506e97d9eae7c9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Package",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "3541cf69ea5fb75a",
        "type": "ui_text",
        "z": "f26c61a9d77fd309",
        "group": "79506e97d9eae7c9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Container 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "5404122c7585d584",
        "type": "ui_text",
        "z": "f26c61a9d77fd309",
        "group": "79506e97d9eae7c9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Container 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "5332a80fbf37635e",
        "type": "ui_text",
        "z": "f26c61a9d77fd309",
        "group": "79506e97d9eae7c9",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Head Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "18cc350dc504d468",
        "type": "ui_colour_picker",
        "z": "f26c61a9d77fd309",
        "name": "",
        "label": "Status",
        "group": "79506e97d9eae7c9",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1ae725a7f81d0eef",
        "type": "ui_text",
        "z": "f26c61a9d77fd309",
        "group": "79506e97d9eae7c9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Package Buffer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "c5a2f477ecff74fb",
        "type": "ui_gauge",
        "z": "f26c61a9d77fd309",
        "name": "",
        "group": "79506e97d9eae7c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Conveyor Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "033ea1747ee4c4a6",
        "type": "read-property",
        "z": "9b201f53c212253f",
        "name": "",
        "topic": "",
        "thing": "43252d8c58fcb698",
        "property": "deliveryBook",
        "uriVariables": "",
        "interval": "5",
        "observe": false,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "ba812cff6d13db8c"
            ]
        ]
    },
    {
        "id": "febb35a8148169cf",
        "type": "read-property",
        "z": "9b201f53c212253f",
        "name": "",
        "topic": "",
        "thing": "43252d8c58fcb698",
        "property": "shippingBook",
        "uriVariables": "",
        "interval": "5",
        "observe": false,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "0879e2d6cc6ccbb6"
            ]
        ]
    },
    {
        "id": "e32db7e128542ab3",
        "type": "invoke-action",
        "z": "9b201f53c212253f",
        "name": "",
        "topic": "",
        "thing": "43252d8c58fcb698",
        "action": "reset",
        "uriVariables": "",
        "x": 710,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f3a305486aa3f602",
        "type": "ui_button",
        "z": "9b201f53c212253f",
        "name": "",
        "group": "47eb14e2e4f1e7f3",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "e32db7e128542ab3"
            ]
        ]
    },
    {
        "id": "f399e7f02d19ad98",
        "type": "debug",
        "z": "9b201f53c212253f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba812cff6d13db8c",
        "type": "json",
        "z": "9b201f53c212253f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "f399e7f02d19ad98",
                "e21ae67d253b7756"
            ]
        ]
    },
    {
        "id": "4e890a5931dbe7d9",
        "type": "ui_text",
        "z": "9b201f53c212253f",
        "group": "abf3fbbe332cd276",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Delivery Book",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "8f679fc8517f4eec",
        "type": "ui_text",
        "z": "9b201f53c212253f",
        "group": "47eb14e2e4f1e7f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Shipping Book",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "e21ae67d253b7756",
        "type": "function",
        "z": "9b201f53c212253f",
        "name": "function 1",
        "func": "function custom_sort(a, b) {\n    return new Date(b.date).getTime() - new Date(a.date).getTime();\n}\n\nmsg.payload.sort(custom_sort);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 220,
        "wires": [
            [
                "a54111b8c7da1d0b"
            ]
        ]
    },
    {
        "id": "a54111b8c7da1d0b",
        "type": "ui_table",
        "z": "9b201f53c212253f",
        "group": "abf3fbbe332cd276",
        "name": "",
        "order": 2,
        "width": 6,
        "height": 4,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "0879e2d6cc6ccbb6",
        "type": "ui_table",
        "z": "9b201f53c212253f",
        "group": "47eb14e2e4f1e7f3",
        "name": "",
        "order": 4,
        "width": 6,
        "height": 4,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 750,
        "y": 380,
        "wires": []
    }
]